{% extends "base.html" %}
{% block title %}Outline{% endblock %}
{% block content %}
<div class="row">
{% for outline in object_list %}
<div class="col-xs-6 col-sm-4">
	<h2><a href="#">{{ outline.subject }} - {{ outline.scholastic }}</a></h2>
</div>
<div class="col-xs-6 col-sm-4">
	<h2><a href="#">{{ outline.subject }} - {{ outline.scholastic }}</a></h2>
</div>
<div class="col-xs-6 col-sm-4">
	<h2><a href="#">{{ outline.subject }} - {{ outline.scholastic }}</a></h2>
</div>
{% empty %}
    <div class="col-xs-12">No outline yet.</div>
{% endfor %}
</div>
{% endblock content %}