{% extends "base.html" %}
{% block title %}Bài tập {{ object.type_order_name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-3"><a href="{% url 'home_work_list' %}">Danh sách</a></div>
</div>
<div class="row">
	<div class="col-xs-12"><h1 class="text-center">Thông tin môn học</h1></div>
	<div class="col-xs-3">Tên</div>
	<div class="col-xs-9">{{ object.type_order_name }}</div>
	<div class="col-xs-3">Mô tả</div>
	<div class="col-xs-9">{{ object.description }}</div>
</div>
{% if user.is_authenticated %}
	<a href="{% url 'homework_question' object.id %}">Đề bài</a>
	<a href="#">Solution</a>
{% endif %}
{% endblock content %}