{% extends "base.html" %}
{% block title %}Thông tin môn học{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-3"><a href="{% url 'subject-list' %}">Danh sách</a></div>
</div>
<div class="row">
	<div class="col-xs-12"><h1 class="text-center">Thông tin môn học</h1></div>
	<div class="col-xs-3">Tên</div>
	<div class="col-xs-9">{{ object.name }}</div>
	<div class="col-xs-3">Bộ môn</div>
	<div class="col-xs-9"><a href="#">{{ object.specialized_study.name }}</a></div>
	<div class="col-xs-3">Mô tả</div>
	<div class="col-xs-9">{{ object.description }}</div>
</div>
{% endblock content %}